$background-dark: #eff1f4;
$border-color: #cedae4;
$white: #ffffff;
$blue: #0dbabe;
$text-dark: #32363f;
$text-light: #788195;
$text: #92a0b2;
$red: #ef4c57;

@import 'compass/reset';
@import 'compass/utilities';
@import 'compass/css3';
@import 'compass/layout/stretching';
@import 'compass/layout.scss';

@include font-face('SSP-it', font-files('/apps/Cozic-v2/fonts/SourceSansPro-Italic.ttf'));
@include font-face('SSP-reg', font-files('/apps/Cozic-v2/fonts/SourceSansPro-Regular.ttf'));
@include font-face('SSP-sb', font-files('/apps/Cozic-v2/fonts/SourceSansPro-Semibold.ttf'));

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontal-align {
    position: relative;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin toolbar {
    background-color: #eff1f4;
    border: solid 1px #cedae4;
}

@mixin calc($property, $expression) { 
    #{$property}: -webkit-calc(#{$expression}); 
    #{$property}: calc(#{$expression}); 
}