$background-dark = #eff1f4
$border-color = #cedae4
$grey = #a7b5c6
$white = #ffffff
$blue = #0dbabe
$text-dark = #32363f
$text-light = #788195
$text = #92a0b2
$red = #ef4c57
$svg = #696d78
$svg-red = #f14a53

@import 'reset'
global-reset()

html, body
    height: 100%
    font-family: 'Source Sans Pro'
    overflow: hidden

div[role='application']
    height: 100%
    width: 100%
    display: flex

:focus
    outline:none
::-moz-focus-inner
    border: 0

button
    all: unset
    cursor: pointer

ellipsis()
    overflow: hidden
    display: inline
    text-overflow: ellipsis

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

@import 'tracks'
@import 'header'
@import 'track-actions'
@import 'popup-menu'
@import 'toolbar'
@import 'player'
