div[role='contentinfo']
    background-color: white
    padding: 25px 33px
    flex-grow: 1
    overflow: auto
    margin-bottom: 71px;

    div[role='complementary']

        h3
            font-size: 24px
            line-height: 0.8
            height: 31px
            color: $text-dark
            display: inline-block

            em
                color: $text-light

        button
            padding: 0px 12px
            height: 32px
            float: right
            display: inline-block
            cursor: pointer
            font-family: 'Source Sans Pro'
            font-weight: bold
            color: $text-light
            background-color: $background-dark
            border-radius: 2px
            position: relative
            padding-left: 32px
            text-transform: uppercase
            font-size: 16px

            svg
                position: absolute
                height: 20px
                left: 9px
                width: 20px
                top: 6px

                path
                    fill: #696d78
                    stroke: 2px

        button:active
            padding-top: 1px

    div[role='rowheader']
        width: 100%
        color: $text-light
        display: flex
        color: $text-dark
        font-family: 'Source Sans Pro'
        font-weight: bold
        height: 36px
        box-shadow: inset 0 -2px 0 0 #d5dce1
        font-size: 13px
        text-transform: uppercase

    [role='gridcell']
        text-align: left
        display: flex;
        align-items: center

    .number-column-cell
        justify-content: center
        width: 42px
        svg
            display: none
            width: 18px
            height: 18px
            path
                fill: $red

    .song-column-cell
        flex-grow: 1

    .artist-column-cell
        width: 200px

    .album-column-cell
        position: relative
        width: 200px

    .length-column-cell
        width: 62px

    ul
        .playing
            color: $red
            .song-column-cell
                color: $red
            .number-column-cell
                svg
                    display: block
        li
            display: flex
            cursor: pointer
            height: 41px
            background-color: transparent
            box-shadow: inset 0 -1px 0 0 #d5dce1
            font-size: 14px
            color: $text-light
            position: relative

            .song-column-cell
                flex-grow: 1
                font-size: 16px
                color: $text-dark


            .actions
                height: 41px
                visibility: hidden
                position: absolute
                right: 18px
                top: 0px

                .active
                    path
                        fill: #f14a53

                button:hover:not(.active)
                    .help
                        visibility: visibile
                    path
                        fill: #32363f

                button
                    height: 100%
                    width: 22px
                    svg
                        height: 20px
                        width: 20px
                        path
                            fill: #696d78
                            -webkit-transition: fill 0.2s; /* Safari */
                            transition: fill 0.2s;

            .all
                #delete-from-upnext
                    display: none

            .upNext
                #add-to-upnext
                    display: none

            .help
                position: absolute
                visibility: hidden

            .popup-menu
                visibility: hidden
                position: absolute
                z-index: 99
                top: 37px
                right: 50px
                padding: 14px 0px
                border-radius: 10px
                background-color: white
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2)

                .small
                    width: 14px
                    height: 14px
                    opacity: 0.3
                    position: absolute
                    right: 14px
                    svg
                        path
                            fill: #696d78
                ul
                    li
                        font-size: 16px
                        padding: 0px 20px
                        height: 36px
                        box-shadow: none
                        color: $text-dark
                        align-items: center

                        svg
                            height: 20px
                            width: 20px
                            padding-right: 14px
                            path
                                fill: #696d78

                    li:hover
                        background-color: $background-dark;
            .popup-menu.show
                visibility: visible

        li:hover
            background-color: $background-dark
            .actions
                visibility: visible
