div[role='content']
    background-color: white
    padding: 25px 33px
    flex-grow: 1
    overflow: auto
    margin-bottom: 71px;

    h3
        font-size: 24px
        line-height: 0.8
        height: 31px
        color: $text-dark
        display: inline-block

        em
            color: $text-light
        
    

    .button
        padding: 0px 16px 
        height: 31px
        float: right
        display: inline-block
        cursor: pointer
        font-family: 'SSP-sb'
        color: $text-light
        background-color: $background-dark
        border-radius: 2px
    

    table
        width: 100%
        color: $text-light

        th
            max-width: 700px
        

        thead
            color: $text-dark
            font-family: 'SSP-sb'
            height: 41px
            border-bottom: 2px #d5dce1 solid
            font-size: 13px
            line-height: 1.5            
        

        tbody

            .number
                padding-left: 8px
                box-sizing: border-box
                width: 38px
                align: center
            

            .title
                color: $text-dark
            

            .playing *
                color: $red
            
            tr
                word-wrap: break-word
                cursor: pointer
                height: 41px
                background-color: transparent
                box-shadow: inset 0 -1px 0 0 #d5dce1

            tr:hover
                background-color: $background-dark