div[role='contentinfo']
    background-color: white
    padding: 25px 33px
    flex-grow: 1
    overflow: auto
    margin-bottom: 71px;

    h3
        font-size: 24px
        line-height: 0.8
        height: 31px
        color: $text-dark
        display: inline-block

        em
            color: $text-light

    button
        padding: 0px 12px
        height: 32px
        float: right
        display: inline-block
        cursor: pointer
        font-family: 'SSP-sb'
        color: $text-light
        background-color: $background-dark
        border-radius: 2px
        position: relative
        padding-left: 32px
        text-transform: uppercase
        font-size: 16px

        svg
            position: absolute
            height: 20px
            left: 9px
            width: 20px
            top: 6px

            path
                fill: #696d78
                stroke: 2px

    button:active
        padding-top: 1px

    table
        width: 100%
        color: $text-light

        thead
            color: $text-dark
            font-family: 'SSP-sb'
            height: 41px
            box-shadow: inset 0 -2px 0 0 #d5dce1
            font-size: 13px
            line-height: 1.5

        .number
            box-sizing: border-box
            width: 42px
            text-align: center

            svg
                width: 18px
                height: 18px

        tbody

            .title
                color: $text-dark

            .playing *
                color: $red

            tr
                cursor: pointer
                height: 41px
                background-color: transparent
                box-shadow: inset 0 -1px 0 0 #d5dce1

                td
                    white-space: nowrap
                    overflow: hidden

            tr:hover
                background-color: $background-dark
