div[role='player']
    box-sizing: border-box
    position:absolute
    bottom:0
    left:0
    height: 72px
    width: 100%
    background-color: #eff1f4
    border: solid 1px #cedae4

    audio
        margin: 20px 500px