div[role='toolbar']
    box-sizing: border-box
    height: 100%
    padding-top: 25px
    min-width: 280px
    flex-basis: 280px
    display: flex
    flex-direction: column
    background-color: #eff1f4
    border: solid 1px #cedae4

    .tools
        padding-left: 16px
        padding-right: 16px

        .button
            cursor: pointer
            font-family: 'SSP-sb'
            background-color: $blue
            border-radius: 2px
            height: 38px
            margin-bottom: 2px
            width: 100%
            padding-top: 9px
            padding-bottom: 10px
            padding-left: 40px
            box-sizing: border-box

            p
                font-size: 14px
                line-height: 1.4
                color: white
            
        

        .button:active
            padding-top: 10px
        

        .focused
            background-color: transparent
            border: solid 1px $blue
            
            input[type='text']
                all: unset
                box-sizing: border-box
                width: 100%
                height: 100%
                color: $text-light
            
        

        .input
            font-family: 'SSP-it'
            margin-top: 30px
            width: 100%
            height: 38px
            border-radius: 2px
            border: solid 1px #a7b5c6
            box-sizing: border-box

            p
                font-size: 16px
                line-height: 1.3
                color: $text-light
            

        

        input[type='text']
            all: unset
            padding-left: 40px
            box-sizing: border-box
            width: 100%
            height: 100%
        
    

    .playlists
        padding-right: 16px

        .add-playlist
            margin-top: 0px
            cursor: pointer
        
        
        h4
            margin-top: 33px
            margin-bottom: 0px;
            padding-left: 16px
            height: 36px
            font-family: "SSP-sb"
            font-size: 13px
            line-height: 2.5
            color: $text
        
        
        p
            padding-left: 16px    
            height: 36px
            font-size: 16px
            line-height: 2.3
            color: $text-dark
            cursor: pointer
        

        p.selected
            color: white
            border-top-right-radius: 2px
            border-bottom-right-radius: 2px
            background-color: #f14a53