#tracks
    div[role='rowheader']
        width: 100%
        color: $text-light
        display: flex
        color: $text-dark
        font-family: 'Source Sans Pro'
        font-weight: bold
        height: 36px
        box-shadow: inset 0 -2px 0 0 #d5dce1
        font-size: 13px
        text-transform: uppercase

    [role='gridcell']
        text-align: left
        display: flex;
        align-items: center

    .number-column-cell
        justify-content: center
        width: 42px
        svg
            display: none
            width: 18px
            height: 18px
            fill: $red

    .song-column-cell
        flex-grow: 1

    .artist-column-cell
        width: 200px

    .album-column-cell
        position: relative
        width: 200px

    .length-column-cell
        width: 62px

    ul
        .playing
            color: $red
            .song-column-cell
                color: $red
            .number-column-cell
                svg
                    display: block
        li
            display: flex
            cursor: pointer
            height: 41px
            background-color: transparent
            box-shadow: inset 0 -1px 0 0 #d5dce1
            font-size: 14px
            color: $text-light
            position: relative

            .song-column-cell
                flex-grow: 1
                font-size: 16px
                color: $text-dark

        li:hover
            background-color: $background-dark
            .actions
                visibility: visible
