#tracks
    .actions
        height: 41px
        visibility: hidden
        position: absolute
        right: 18px
        top: 0px

        .active
            svg
                fill: $svg-red

        button:hover:not(.active)
            svg
                fill: $text-dark
            .help
                visibility: visibile

        button
            height: 100%
            width: 22px
            svg
                height: 20px
                width: 20px
                fill: $svg

    .all
        #delete-from-upnext
            display: none

    .upNext
        #add-to-upnext
            display: none

    .help
        position: absolute
        visibility: hidden
