<div id="playlist-popup-menu" class="popup-menu">
	<ul id="playlist-list"></ul>

    <div id="add-playlist">
        <input id="playlist-text" type="text" placeholder="<%= t('add to new playlist') %>"/>
        <p><%= t('add to new playlist') %></p>
    </div>

</div>
