<div class="popup-menu">
	<ul id="playlist-list"></ul>

    <div id="add-playlist">
        <input id="playlist-text" type="text" placeholder="Add Playlist"/>
        <p>Add to New Playlist</p>
    </div>

</div>