<div class="tools">
    <div class="button" id="sync-files">
        <p>SYNC WITH YOUR FILES</p>
    </div>
    <div class="button" id="import-sc">
        <p>ADD STREAM TRACK</p>
    </div>
    <div class="input">
        <input id="import-text" type="text" placeholder="enter a soundcloud link">
    </div>
</div>

<div class="playlists"></div>
