<div role="rowheader">
	<div class="number-column-cell" role="gridcell">#</div>
	<div class="song-column-cell" role="gridcell"><%= t('song') %></div>
	<div class="artist-column-cell" role="gridcell"><%= t('artist') %></div>
	<div class="album-column-cell" role="gridcell"><%= t('album') %></div>
	<div class="length-column-cell" role="gridcell"><%= t('length') %></div>
</div>
<ul id="track-list"></ul>
