<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cozic Music</title>
    <link rel="stylesheet" href="/fonts/fonts.css" charset="utf-8">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" charset="utf-8">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[chunk] %>" defer charset="utf-8"></script>
    <% } %>
</head>
<body>
    <div role="application"></div>
</body>
</html>
